<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Goró Loja</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
		/>

		<link href="/css/reset.css" rel="stylesheet" />
		<link href="/css/categoria.css" rel="stylesheet" />
		<link href="/css/produtos.css" rel="stylesheet" />
		<link href="/css/banner.css" rel="stylesheet" />
	</head>

	<body>
		<%- include("includes/header") %>

		<section class="carrossel">
			<!-- Slider main container -->
			<div class="swiper">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper">
					<!-- Slides -->
					<div class="swiper-slide">
						<div>
							<img src="/img/banner goró 1.png" alt="banner" />
						</div>
						<div class="conteudo">
							<p class="conteudo-um">ACESSÓRIOS</p>
							<h2>GORÓ STYLE</h2>
							<p class="conteudo-dois">
								Chique e confortável! Garanta a camiseta que
								<br />combina com a sua cerveja favorita.
							</p>
							<a href="#">VER CAMISETAS</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div>
							<img src="/img/banner goró 1.png" alt="banner" />
						</div>
						<div class="conteudo">
							<p class="conteudo-um">ACESSÓRIOS</p>
							<h2>GORÓ STYLE</h2>
							<p class="conteudo-dois">
								Chique e confortável! Garanta a camiseta que
								<br />combina com a sua cerveja favorita.
							</p>
							<a href="#">VER CAMISETAS</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div>
							<img src="/img/banner goró 1.png" alt="banner" />
						</div>
						<div class="conteudo">
							<p class="conteudo-um">ACESSÓRIOS</p>
							<h2>GORÓ STYLE</h2>
							<p class="conteudo-dois">
								Chique e confortável! Garanta a camiseta que
								<br />combina com a sua cerveja favorita.
							</p>
							<a href="../lists/listAcessories/index.html"
								>VER CAMISETAS</a
							>
						</div>
					</div>
				</div>
				<!-- If we need pagination -->
				<div class="swiper-pagination"></div>

				<!-- If we need navigation buttons -->
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>

				<!-- If we need scrollbar -->
				<!-- <div class="swiper-scrollbar"></div> -->
			</div>
		</section>

		<section class="categoria">
			<h3>CATEGORIAS</h3>
			<div class="categoria__container">
				<a href="/cervejas" class="categoria__amarelo">
					<img src="/img/Group 4.svg" />
					<h4>CERVEJA</h4>
				</a>
				<a href="/listAcessories" class="categoria__preto">
					<img src="/img/Vector.svg" />
					<h4>ACESSÓRIOS</h4>
				</a>
				<a href="/Kits" class="categoria__vermelho">
					<img src="/img/Vector_.svg" />
					<h4>KITS</h4>
				</a>
			</div>
		</section>

		<section class="produtos">
			<h3>TODOS OS PRODUTOS</h3>
			<div class="alignProdutos">
				<ul class="produtos__container">
					<% for(let i=0; i<products.length; i++){ %>
						<li class="produto__container">
							<a
								href="/product/<%= products[i].id%>"
								class="link__produto"
							>
								<div class="produto__img">
									<img
										class="foto"
										src="/img/<%= products[i].image %>"
										alt="banner"
									/>
									<div class="icone">
										<a href="#"
											><img
												class="icone"
												src="/img/sacola.png"
												alt="banner"
										/></a>
									</div>
								</div>
								<div class="produto__conteudo">
									<p class="produto__nome">
										<%= products[i].name %>
									</p>
									<p class="produto__descricao">
										<%= products[i].type %>
									</p>
									<p class="produto__valor">
										R$ <%= products[i].price %>
									</p>
								</div>
							</a>
						</li>
					<% } %>
				</ul>
			</div>

			<a class="produtos__botao" href="#">VER TODOS OS PRODUTOS</a>
		</section>

		<%- include("includes/footer") %>

		<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
		<script src="/js/script.js"></script>
	</body>
</html>
