<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
    <link href="./css/style-listBeer.css" rel="stylesheet"/>
    <link href="./reset.css" rel="stylesheet" />
    <link href="./css/reset.css" rel="stylesheet"/>
    <link  href="/css/header.css" rel="stylesheet"/>
    <link href="/css/footer.css" rel="stylesheet"/>
    <link href="/css/busca.css" rel="stylesheet"/>
    <script src="acessories.js"></script>
    <title>Lista de Produtos - Acessórios</title>
  </head>

  <body>
    <div class ="container">
      <!----------------HEADER----------------->
      <%- include('includes/header') %>
  
      <section class="pesquisa">
        <div class="pesquisa__container">
          <input
            class="pesquisa__input"
            type="search"
            placeholder="Buscar no site"
          />
        </div>
      </section>

      <main>

        <div class="banner">
          <img src="/img/banner menor cerveja 1.png" alt="banner" />
        </div>

        <div class="filtro--cerveja--completo">
          <div class="filtro--completo">

            <h2 class="filtro">Filtros</h2>
            <hr class="linha--filtro">
            <h3 class="produto">Produto</h3>

            <section>
              <div class="camiseta">
                <input
                  type="checkbox"
                  id="camiseta"
                  name="camiseta"
                  checked
                />
                <label for="camiseta">Camiseta</label>
              </div>

              <div class="copo">
                <input type="checkbox" id="copo" name="copo" />
                <label for="copo">Copo</label>
              </div>

              <div class="termicos">
                <input type="checkbox" id="termicos" name="termicos" />
                <label for="termicos">Térmicos</label>
              </div>

              <div class="abridor">
                <input type="checkbox" id="abridor" name="abridor" />
                <label for="abridor">Abridor de Cerveja</label>
              </div>

              <div class="balde">
                <input type="checkbox" id="balde" name="balde" />
                <label for="balde">Balde</label>
              </div>

            </section>

            <section>
              <h3 class="preco">Preço</h3>

              <div class="menor--preco">
                <input type="checkbox" id="menor--preco" name="menor--preco" />
                <label for="menor--preco">Menor preço</label>
              </div>

              <div class="maior--preco">
                <input type="checkbox" id="maior--preco" name="maior--preco" />
                <label for="maior--preco">Maior preço</label>
              </div>
            </section>

          </div>

          <section class="container--cervejas">

            <h1 class="acessorios"><span>ACESSÓRIOS</span></h1>
            <hr class="linha--cerveja" />

            <div class="container--produtos">
              <% products.forEach((product) => { %>
              <div class="item">
                <img
                  class="img--cerveja"
                  src="/img/<%= product.image %>"
                  alt="imagem da cerveja"
                />
                <div class="item--sacola">
                  <a href="#"><img
                      class="sacola"
                      src="/img/sacola.png"
                      alt="imagem sacola"
                    />
                    </a>
                  </div>
                  <p class="goro">
                    <%= product.name %>
                  </p>
                  <p class="cerva">
                    <%= product.type %>
                  </p>
                  <br>
                  <p class="valor">
                    R$<%= product.price %>
                  </p>
                </div>
                <% }) %>
            <button class="ver--produtos">
              <p><a href="#">VER MAIS PRODUTOS</a></p>
            </button>
          </section>
        </div>
      </main>
      
    <hr class="amarelo" />
		<hr class="vermelho" />
		<hr class="preto" />

		<%- include('includes/footer') %>
    </div>
    <script src="../../../script.js"></script>
  </body>
</html>