<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style">
    <link href="./css/style-listBeer.css" rel="stylesheet"/>
    <link href="./css/reset.css" rel="stylesheet"/>
    <link href="/css/busca.css" rel="stylesheet"/>
    <link href="/css/produtos.css" rel="stylesheet" />
    <script src="/js/lists.js"></script>
    <title>Lista de Produtos - Cerveja</title>
  </head>

  <body>
    <div class = "container">
<!----------------HEADER----------------->
      <%- include('includes/header') %>
      
      <main class="main--flex">

        <div class="banner">
          <img src="/img/banner menor cerveja 1.png" alt="banner" />
        </div>

        <div class="filtro--cerveja--completo">
          <div class="filtro--completo">

            <h2 class="filtro">Filtros</h2>
            <hr class="linha--filtro">
            <h3 class="estilo">Estilo</h3>

            <section>
              <div class="american--pale--ale">
                <input
                  type="checkbox"
                  id="american--pale--ale"
                  name="american--pale--ale"
                  checked
                />
                <label for="american-pale--ale">American Pale Ale</label>
              </div>

              <div class="double--ipa">
                <input type="checkbox" id="double--ipa" name="double--ipa" />
                <label for="double--ipa">Double IPA</label>
              </div>

              <div class="brown--ale">
                <input type="checkbox" id="brown--ale" name="brown--ale" />
                <label for="brown--ale">Brown Ale</label>
              </div>
            </section>

            <section>
              <h3 class="preco">Preço</h3>

              <div class="menor--preco">
                <input type="checkbox" id="menor--preco" name="menor--preco" />
                <label for="menor--preco">Menor preço</label>
              </div>

              <div class="maior--preco">
                <input type="checkbox" id="maior--preco" name="maior--preco" />
                <label for="maior--preco">Maior preço</label>
              </div>
            </section>

            <section>
              <h3 class="alcool">% de álcool</h3>

              <div class="dois-e-meio">
                <input
                  type="checkbox"
                  id="dois-e-meio"
                  name="dois-e-meio"
                  checked
                />
                <label for="dois-e-meio">2,5%</label>
              </div>

              <div class="seis">
                <input type="checkbox" id="seis" name="seis" />
                <label for="seis">6%</label>
              </div>

              <div class="dez">
                <input type="checkbox" id="dez" name="dez" />
                <label for="dez">10%</label>
              </div>
            </section>

            <section>
              <h3 class="ibu">IBU</h3>

              <div class="sessenta--e--tres">
                <input
                  type="checkbox"
                  id="sessenta--e--tres"
                  name="sessenta--e--tres"
                />
                <label for="sessenta--e--tres">63</label>
              </div>

              <div class="trinta--e--tres">
                <input
                  type="checkbox"
                  id="trinta--e--tres"
                  name="trinta--e-tres"
                />
                <label for="trinta--e--tres">33</label>
              </div>

              <div class="oitenta">
                <input type="checkbox" id="oitenta" name="oitenta" />
                <label for="oitenta">80</label>
              </div>
            </section>

            <section>
              <h3 class="embalagem">Embalagem</h3>

              <div class="vidro">
                <input type="checkbox" id="vidro" name="vidro" checked />
                <label for="vidro">Vidro</label>
              </div>

              <div class="aluminio">
                <input type="checkbox" id="aluminio" name="aluminio" />
                <label for="aluminio">Aluminio</label>
              </div>
            </section>
          </div>

          <section class="container--cervejas">
            <h1 class="cervejas"><span>CERVEJAS</span></h1>
            <hr class="linha--cerveja" />

            <div class="container--produtos">
           <% products.forEach((product) =>{ %>
                <li class="produto__container">
                  <a href="/product" class="link__produto">
                    <div class="produto__img">
                      <img
                        class="foto"
        
                        src="/img/<%= product.image %>"
        
                        alt="banner"
                      />
                      <div class="icone">
                        <a href="#"
                          ><img
                            class="icone"
        
                            src="/img/sacola.png"
        
                            alt="banner"
                        /></a>
                      </div>
                    </div>
                    <div class="produto__conteudo">
                      <p class="produto__nome"><%= product.name %></p>
                      <p class="produto__descricao"><%= product.type %></p>
                      <p class="produto__valor">R$ <%= product.price %></p>
                    </div>
                  </a>
                </li>	
              <% } )%>
              </ul>
              
              
            </div>
            <a href="#" class="produtos__botao" style="display: block; width: fit-content; margin: 0 auto; margin-top: 40px; margin-bottom: 50px; padding: 15px 30px; text-align: center;">VER TODOS OS PRODUTOS</a> 


             <!-- <center>
              <a class="produtos__botao" href="#">VER TODOS OS PRODUTOS</a>
            </center>  -->
              
          </section>
        </div>

        
      </main>
      <!-- FOOTER -->
		
    </div>
    <%- include('includes/footer') %>
  </body>
</html>
