<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;900&display=swap" rel="stylesheet"/>
	<link rel="stylesheet" href="/css/reset.css"/>
	<link rel="stylesheet" href="/css/pagina_de_carrinho.css">	
    <title>Carrinho de compras</title>

	<script
		src="https://kit.fontawesome.com/8efdacdf0c.js"
		crossorigin="anonymous"
	></script>
	<script src="../../script.js"></script>

    <title>Carrinho de compras</title>


</head>

<body>
	<%- include("includes/header") %>

	<section class="carrinho_compra">
		<div class="header_carrinho">
			<div class="titulo_carrinho">
				<img class="carrinho2" alt="carrinho" src="/img/carrinho.svg">
				<h1 class="titulos"> CARRINHO DE COMPRAS</h1>
			</div>
			<button class="botao_preto" type="button">
				<a class="comprando" href="/homeStore">CONTINUAR COMPRANDO</a>
			</button>
		</div>
	</section>

	<div id="linha-horizontal1"></div>

	<section class="barra_carrinho">
		<div>
		  <h2 class="topo_carrinho1">PRODUTO</h2>
		</div>
		<div>
		  <h2 class="topo_carrinho">
			<li>
			  <h2>QUANTIDADE</h2>	
			</li>
			<li>
			  <h2>VALOR UNITÁRIO</h2>	
			</li>
			<li>
			  <h2>VALOR TOTAL</h2>	
			</li>
		  </h2>
		</div>
	  </section>
	  
	  		<% products.forEach((product) => { %>
			<section class="compra">
				<div class="produto">
					<img 
					class="foto_carrinho"
					src="/img/<%= product.image %>"
					 alt="foto cerveja">
					<div>
					<p class="nome_produto"><%= product.name %></p>
					<p class="descritivo_produto"><%= product.type %></p>
				</div>
				</div>
				<div class="carrinho_direita">
				<div class="container">
					<div class="row">
						<section id="mais_menos">
							<div
								class="btn-quantidade"
								id="remover"
								onclick="setQuantidade('remove')"
							>
								-
							</div>
							<input
								id="input-quantidade"
								type="text"
								value="0"
								min="0"
							/>
							<div
								class="btn-quantidade"
								id="adicionar"
								onclick="setQuantidade('add')"
							>
								+
							</div>
					</div>
				  </div>
				<div class="valor_unitário">R$<%= product.price %></div>
				<div class="valor_total">R$ 00,00</div>
			</div>
			</section>
			<% }) %>

			<section class="frete">
				<div class="titulo_frete">
				<img class="caminhao" src="/img/frete.svg">
				<h3 class="CEP">DIGITE O CEP DO ENDEREÇO DE ENTREGA</h3>
				</div>
				<div class="valor_frete">
					<input type="number" class="barra_cep" name="CEP" placeholder="ex: 00000-000">
					<span id="valor_frete">R$ 00,00</span>
				</div>
			</section>

			<section class="fim_carrinho">
				<div class="espaco_total"></div>
			<div class="soma_carrinho">
				<div class="subtotal">
				<div>
				<span class="subtil">SUBTOTAL<br class="produtosx">(X produtos)</span>
				</div>
				<span>R$ 00,00</span>
				</div>
				<span class="frete2">
				<span class="subtil">FRETE</span>
				<span id="frete_valor2">R$ 00,00</span>
				</span>

			<div id="linha-horizontal2"></div>

				<div class="total_compra">
				<span>TOTAL</span>
				<span>R$ 00,00</span>
				</div>
				<div class="alinhamento_botao">
				<div></div>
				<div>
					<button class="botao_amarelo" type="button">FINALIZAR COMPRA</button>
				</div>
			</div>
			</div>
			</div>
		</section>

		<%- include("includes/footer") %>
		

</body>

</html>